<body class="bg-gray-800 text-white">

    <section class="relative h-screen z-0 bg-cover bg-center bg-[url('/star-wars-bg.png')]">
        <!-- Navbar -->
        <nav class="flex justify-center items-center p-6">
            <img src="/star-wars-logo.png" alt="Logo" class="h-16">
        </nav>
        <div class="relative z-0 h-full flex flex-col text-center mt-20">
            <div class="uppercase text-sm tracking-widest text-white mb-4">A Star Wars Guide</div>
            <h1 class="text-5xl font-bold mb-4">Explore The Galaxy Far, Far Away!</h1>
            <div class="text-lg mb-8 text-yellow-500">Scroll down</div>
        </div>
    </section>

    <router-outlet />

</body>